---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>Angie Bowen's Digital Garden</title>
    <link>https://angiebowen.com/</link>
    <description>Notes on generative learning, creativity, and PKM</description>
    <lastBuildDate>{{ collections.notes | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    {% for note in collections.notes | reverse %}
      <item>
        <title>{{ note.data.title }}</title>
        <link>{{ note.url | url }}</link>
        <description>{{ note.templateContent | safe }}</description>
        <pubDate>{{ note.date | dateToRfc822 }}</pubDate>
        <guid>{{ note.url | url }}</guid>
      </item>
    {% endfor %}
  </channel>
</rss>