<footer class="footer">
    <div class="footer-container">
        <nav class="footer-nav">
            <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/rss">RSS</a></li>
                <li><a href="/colophon">COLOPHON</a></li>
                <li><a rel="me" href="https://indieweb.social/@angiebowen">MASTODON</a></li>
                <li><a href="https://github.com/angelabowen">GITHUB</a></li>
                <li><a href="https://twitter.com/angrbowen">TWITTER</a></li>
            </ul>
        </nav>
        <div class="footer-info">
            Contact me: <a href="mailto:angie@angiebowen.com" class="obfuscated-email">angie@angiebowen.com</a>.
        </div>
    </div>
</footer>
</div> <!-- Closing the container div opened in header.html -->