<footer class="footer">
    <div class="footer-container">
        <nav class="footer-nav">
            <ul>
                <li><a href="/index">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/now">NOW</a></li>
            <li><a href="/posts">POSTS</a></li>
            <li><a href="https://angiebowensfieldnotes.substack.com/">NEWSLETTER</a></li>
            </ul>
        </nav>
        <div class="footer-info">
            Contact me: <a href="mailto:angie@angiebowen.com" class="obfuscated-email">angie@angiebowen.com</a>.
        </div>
    </div>
</footer>
</div> <!-- Closing the container div opened in header.html -->