<div class="container">
    <header class="navbar">
        <a class="logo" title="Why an ampersand?" href="https://angiebowen.com/ampersand">&amp;</a>
        <nav class="nav-container">
            <ul class="nav-menu">
                <li><a href="/index">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/now">NOW</a></li>
            <li><a href="/posts">POSTS</a></li>
            <li><button class="theme-toggle" aria-label="Toggle dark mode"></button></li>
        </ul>
    </nav>
</header>