<div class="newscard">
	<div class="newscard-header">
		<h3 class="newscard-title">Get Weekly Field Notes</h3>
	</div>
	<div class="newscard-content">
		<p>Subscribe for notes from my informal, personal (n=1) experiments, new tools for creative thinking, and updates on my master's capstone project developing a course teaching first-year university students creative thinking.</p>
		<a href="https://angiebowensfieldnotes.substack.com/" target="_blank">
			<button class="newscard-button">Subscribe to Newsletter</button>
		</a>
	</div>
</div>