{% extends "layout.njk" %}

{% block content %}
<main class="h-entry">
  <h1 class="p-name">{{ title }}</h1>
  <div class="post-meta">
    {% if date %}
      <span>{{ status | safe }}</span>
    {% endif %}
    {% if lastUpdated %}
      <span>planted on <time class="dt-published" datetime="{{ date | dateToYMD }}">{{ date | date('MMM dd, yyyy') }}</time>,</span>
    {% endif %}
    {% if lastUpdated %}
      <span>and last tended to on <time class="dt-updated" datetime="{{ lastUpdated | dateToYMD }}">{{ lastUpdated | date('MMM dd, yyyy') }}</time>.</span>
    {% endif %}
  </div>
  <div class="e-content">
    {{ content | safe }}
  </div>
</main>
{% endblock %}